* {
  box-sizing: border-box;
}

.animeName {
  color: rgb(0, 0, 0);
  background-color: yellow;
  font-size: 40px;
  font-family: "Times New Roman";
  width: 500px;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
  display: inline-block;
  margin: 0px;
  width: 24%;
}

ul li section img {
  width: 90%;
  border-radius: 30px;
  border: solid 5px rgba(174, 165, 130, 0.49);
  box-shadow: 10px 10px 10px rgb(75, 72, 72);
}

ul li section img:hover {
  width: 100%;
}

ul {
  padding: 0;
}
body {
  margin: 0;
}
